<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <style>
      body {
        background-color: black;
        color: white;
        font-family: "Arial", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }
  
      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem; 
      }
    body {
      background-color: black;
      color: white;
      font-family: "Arial", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
    }

    label {
      margin-bottom: 0.5rem;
    }

    input {
      width: 300px;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: #00bfff;
      color: white;
      border: none;
      cursor: pointer;
    }

    .result {
      margin-top: 2rem;
      text-align: center;
    }

    .result a {
      color: #00bfff;
      text-decoration: none;
    }
  </style>
      
</head>
<body>
  <h1 class="fade-in">URL SHORTENER</h1>
  <% if (locals.id) { %>
   
  <p> Url Generated:http://localhost:8558/url/<%=id %></p><% } %>
  <div>
    <form method="post" action="/url">
      <label>Enter your original URL</label>
      <input type="text" name="url" placeholder="https://example.com"/>
      <button type="submit">Generate</button>
    </form>
    <div class="result">
      
    </div>
  </div>
</body>
</html>