<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  
      
</head>
<body>
  <h1 class="fade-in">URL SHORTENER</h1>
  <% if (locals.id) { %>
   
  <p> Url Generated:http://localhost:8558/url/<%=id %></p><% } %>
  <div>
    <form method="post" action="/url">
      <label>Enter your original URL</label>
      <input type="text" name="url" placeholder="https://example.com"/>
      <button type="submit">Generate</button>
    </form>
    <div class="result">
      
    </div>
  </div>
</body>
</html>